* {
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

body {
  background-image: url("./img/background-color.jpg");
  background-size: cover;
  color: black;
}

.header {
  width: 80vw;
  height: 15vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting {
  cursor: pointer;
}

.setting:hover {
  color: white;
}

.header > p {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.main {
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.title h1 {
  font-size: 2.75rem;
  font-weight: 500;
  font-family: "Abril Fatface", cursive;
  margin-bottom: 1rem;
}

.beforeStartReading h2 {
  font-size: 1.5rem;
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.input-section {
  width: 80%;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.input-section > label {
  font-weight: 400;
}

.input {
  width: 60%;
  border: 0.1px solid black;
}

.instruction {
  width: 70%;
  margin: 1rem 0;
  font-size: 0.8rem;
}


/* Button css get from: https://getcssscan.com/css-buttons-examples */
#submit-btn {
  margin: 1rem 0;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

#submit-btn:focus {
  text-decoration: none;
}

#submit-btn:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

#submit-btn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}
/* 
@media (min-width: 768px) {
  #submit-btn {
    padding: 12px 50px;
  }
} */

#warning {
  color: red;
}





#sentence-container {
  border: 1px dotted #fff;
  width: 60vw;
  margin: 0 auto;
  margin-bottom: 10rem;
  justify-content: center;
  align-items: center;
}

#sentence {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.background-music {
  display: none;
}

/* Footer */
.divider {
  width: 90vw;
  margin: 0 auto;
  margin-top: 5%;
  border-top: 1px solid white;
}
.footer {
  width: 90vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: white;
}

.footer-section-title {
  font-size: 1rem;
}

.footer-section-content {
  font-size: 0.8rem;
}

.social-media {
  color: white;
  margin-right: 0.5rem;
}

.social-media:hover {
  color: black;
}

@media (max-width: 1100px) {
  .setting {
    flex-direction: column;
    margin-top: 30px;
  }

  .color-div {
    margin: 10px 15px;
  }

  .sentence-container {
    height: 60vh;
  }
}

@media (max-width: 950px) {
  .sentence-container {
    width: 70vw;
  }
}

@media (max-width: 800px) {
  .sentence-container {
    width: 80vw;
  }
}

@media (max-width: 650px) {
  .setting {
    width: 95vw;
    margin-top: 25px;
  }
  .color-div {
    height: 30px;
    width: 30px;
    margin: 8px 15px;
  }

  #sentence {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .color-div {
    margin: 8px 5px;
  }
}

/* 

.setting {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.background-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.color-div {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 30px 15px;
  box-shadow: 4px 4px 5px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.color-div:hover {
  transform: scale(1.4);
}

.fontcolor-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.font-color {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
} */
