/* General Setting */
* {
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
  font-size: 20px;
  font-weight: 300;
}

body {
  background-image: url("./img/background-color.jpg");
  background-size: cover;
  color: black;
}

strong {
  font-weight: 600;
}

/* Header */
.header {
  width: 80vw;
  height: 15vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#setting {
  cursor: pointer;
}

#setting:hover {
  color: white;
}

.header > p {
  text-transform: uppercase;
  font-size: 0.75rem;
}

/* Sidebar */
#setting-container {
  background-color: rgba(0, 0, 0, 0.187);
  border-radius: 30px;
  width: 80vw;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;

}

.color-div {
  width: 150px;
  height: 100px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 1;
}

.color-div:hover {
  transform: scale(1.1);
}

.background-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.background-color {
  background-size: cover;
}

.fontcolor-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.font-color {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.font-color > span {
  font-size: 2rem;
}


/* Main body */
.main {
  width: 50vw;
  height: 120vh;
  min-height: 1000px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.title h1 {
  font-size: 2.75rem;
  font-weight: 500;
  font-family: "Abril Fatface", cursive;
  margin-bottom: 1rem;
}

.beforeStartReading h2 {
  font-size: 1.5rem;
  font-family: "Abril Fatface", cursive;
  text-transform: uppercase;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.input-section {
  width: 80%;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.input-section > label {
  font-weight: 400;
}

.input {
  width: 60%;
  border: 0.1px solid black;
}

.instruction {
  width: 70%;
  margin: 1rem 0;
  font-size: 0.8rem;
}


/* Button css get from: https://getcssscan.com/css-buttons-examples */
#submit-btn {
  margin: 1rem 0;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

#submit-btn:focus {
  text-decoration: none;
}

#submit-btn:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

#submit-btn:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  #submit-btn {
    padding: 12px 50px;
  }
}

#warning {
  color: red;
}





#sentence-container {
  border: 1px dotted #fff;
  width: 60vw;
  margin: 0 auto;
  margin-bottom: 7rem;
  justify-content: center;
  align-items: center;
}

#sentence {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.background-music {
  display: none;
}

/* Footer */
.divider {
  width: 90vw;
  margin: 0 auto;
  margin-top: 5%;
  border-top: 1px solid white;
}
.footer {
  width: 90vw;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: white;
}

.footer-section-title {
  font-size: 1rem;
}

.footer-section-content {
  font-size: 0.8rem;
}

.social-media {
  color: white;
  margin-right: 0.5rem;
}

.social-media:hover {
  color: black;
}


/* Responsive Design */
@media (max-width: 1250px) {
  .input-section {
    flex-direction: column;
    align-items: center;
    margin: .5rem 0;
  }

  input {
    margin: .5rem 0;
  }

  .instruction {
    color: white;
    width: 100%;
  }
}

@media (max-width: 850px) {
  .main {
    width: 60vw;
  }

  #submit-btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {
  * {
    font-size: 14px;
  }

  .header > p {
    margin-right: 1rem;
  }

  .main {
    width: 80vw;
    height: auto;
    min-height: auto;
    margin-bottom: 1rem;
  }

  .title > h1 {
    margin-top: 0;
    font-size: 1.5rem;
  }

  .beforeStartReading > h2 {
    font-size: 1.25rem;
  }

  .input-container {
    margin-top: 0;
  }

  .input-section > label {
    font-weight: 600;
  } 
  input {
    width: 80%
  }

  #sentence-container {
    width: 80vw;
    margin-bottom: 3rem;
  }

  #sentence {
    font-size: 1.5rem;
  }

  #submit-btn {
    padding: 12px;
  }

  #warning {
    font-size: 0.8rem;
  }

  .footer {
    width: 70vw;
    height: auto;
    align-items: flex-start;
    flex-direction: column;
  }

  .footer-section-title {
    font-weight: 400;
  }

  .footer-section-title {
    margin: 10px 0;
  }
}

@media (max-width: 300px) {
  * {
    font-size: 12px;
  }
}

@media (min-height: 800px) {
  .main {
    height: auto;
  }
}

