html {
  font-family: "Exo", sans-serif;
}

body {
    /* background: linear-gradient(to bottom right, #fad0c4, #ff9a9e); */
    background: linear-gradient(-135deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    width: 100vw;
    height: 100vh;
}

.sentence-container {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


#sentence {
    font-size: 3rem;
    color: #0C1D36;
}